@{
    ViewBag.Title = "Chat application";
}

<h3 class="text-center">Чат</h3>
<form action="#" id="userNameForm" class="text-center">
    <label for="name" >Имя пользователя:</label>
    <input type="text" id="name" name="name" />
    <button id="join">Войти</button>
</form>
<form action="#" id="chatForm" style="display:none">
    <span id="status"></span>
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <ul id="messages" style="list-style:none;height:300px;width:98%;overflow-y:scroll;border:2px solid black"></ul>
        </div>
        <div class="col-md-3 col-md-pull-9">
            <ul id="users" style="list-style:none;height:300px;width:99%;overflow-y:scroll;border:2px solid black"></ul>
        </div>
    </div>
        <p>
            <input id="message" type="text" style="width:98%;" />
        </p>
        <button class="text-center" id="sendMessage">Отправить</button>
</form>
<script src="http://localhost:5555/socket.io/socket.io.js"></script>
<script>
    $(function () {

        var socket;

        $("#join").click(function (event) {
            userName = $("#name").val();
            $("#userNameForm").hide("slow", function () {
                $("#chatForm").show("slow");
            });
            initChat(userName);
            event.preventDefault();
        });

        $("#sendMessage").click(function (event) {
            var message = $("#message").val();

            $("#message").val('');

            if (socket)
                socket.emit('message', message);
            event.preventDefault();
        });

        function initChat(userName) {

            socket = io.connect('http://localhost:5555'),
                $status = $("#status");

            socket.on("connect", function () {
                socket.emit('join', { userName: userName });
                $status.html("Вы вошли в чат!");
                $("<li id=" + userName + ">").html("<b>" + userName + "</b>")
                         .appendTo("#users");
            });

            socket.on("join", function (data) {
                $status.html("<b>" + data.userName + "</b> зашел в чат");
                $("<li id=" + data.userName + ">").html("<b>" + data.userName + "</b>")
                         .appendTo("#users");

            });

            socket.on("message", function (data) {
                $("<li>").html("<b>" + data.userName + "</b> : " + data.message)
                         .appendTo("#messages");
            });

            socket.on("unjoin", function (data) {
                $status.html("<b>" + data.userName + "</b> покинул чат");
                var el = document.getElementById(data.userName);
                el.parentNode.removeChild(el);

            });

        }
    });
</script>